{% load staticfiles %}
<div id = "{{ name }}" class="barchart">
</div>

<script>

var margin = {top: 20, right: 20, bottom: 20, left: 50},
    width = 550 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong>{{ label }}:</strong> <span style='color:#48CFAD'>" + d.dataY + "</span>";
  });

var svg = d3.select("body").selectAll(".barchart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg.call(tip);

var data = {{ data|safe }}

x.domain(data.map(function(d) { return d.dataX; }));
y.domain([0, d3.max(data, function(d) { return d.dataY; })]);

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
    .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("{{ label }}");

svg.selectAll(".bar")
    .data(data)
    .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function(d) { return x(d.dataX); })
    .attr("width", x.rangeBand())
    .attr("y", function(d) { return y(d.dataY); })
    .attr("height", function(d) { return height - y(d.dataY); })
    .on('mouseover', tip.show)
    .on('mouseout', tip.hide)

function type(d) {
  d.dataY = +d.dataY;
  return d;
}

</script>
