{% extends "base.html" %}
{% load staticfiles %}
{% load chart_blocks %}
{% block title %}Home{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<!--breadcrumbs start-->
    <div class="breadcrumbs">
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="gray-bg">
    <div class="fof">
            <!-- 404 error -->
        <div class="container  error-inner wow flipInX">
            <h1>404, Page not found.</h1>
            <p class="text-center">The Page you are looking for doesn't exist or an other error occurred.</p>
            <a class="btn btn-info" href="/violence/">GO BACK TO THE HOMEPAGE</a>
        </div>
        <!-- /404 error -->
        </div>
    </div>
    <!--container end-->
{% endblock %}
