{% extends "base.html" %}
{% load staticfiles %}
{% load chart_blocks %}
{% block title %}Home{% endblock %}

{% block css %}
<script src="{% static 'js/d3.v3.min.js' %}"></script>
<script src="{% static 'js/d3.tip.v0.6.3.js' %}"></script>
<script src="{% static 'js/d3.layout.cloud.js' %}"></script>

<link href="{% static "css/charts/barchart.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mar-b-30">
    <div class="row mtop30">
        <div class="col-lg-6 col-sm-6">
          <div class="full-width-media-text">
            <h4>
              Number of articles | Latest 30 days
            </h4>
            {% barchart "latest30.tsv" "Articles" "articles30" %}
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="full-width-media-text">
            <h4>
              Frequency of words | Latest 30 days
            </h4>
            {% wordcloud data_cloud|safe "test" %}
          </div>
        </div>
    </div>
</div>
{% endblock %}
